.red{
    background-color:cornflowerblue 
}
.yellow{
    background: yellow;       
}
/*.myclass{
    border: 0px #ccc;
    border-radius: 20px;
    background-color:rgb(231, 36, 36); 
    padding: 20px;
    display: flex;
}*/