.THIS .customRequired{
    font-weight: 400; 
} 

.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}

.THIS .none{
    display:none; 
}

.THIS .slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS .modalspinner .centered {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.THIS .modalspinner {
    position:absolute;
    height: 100%;
    width:100%;
    z-index: 500;
    opacity: 0.9;
    background-color: grey;
}

.THIS #spaceholder_t {
    width:100%;
    height:2em;
    position:relative;
}
.THIS #spaceholder_b {
    width:100%;
    height:130px;
    position:relative;
}
.THIS .slds-notify_container {    
    z-index: 1;
}