.pink{
    
    background-color: green;
}
.orange{
    background-color: black;
}
.yellow{
    background-color: red;
}
.LightGreen{
    background-color: lightgreen;
    
}
.red{
    background-color: red;
}