.pink{
    
    background-color: pink;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.LightGreen{
    background-color: lightgreen;
    
}
.red{
    background-color: red;
}